
@{
    ViewBag.Title = "Calificación";
}

    <h2>Calificación</h2>
    
    <h4>Carné_<u>116300382</u>_____Nombre__<u>Steven Viquez Benavides</u>___Fecha___<u>20/08/2020</u>___</h4> 

    <table style="width:100%" id="calificacion">
        <tr>
            <th>Detalle</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Punto a Evaluar</th>
            <th>Puntos</th>
            <th>Autoevaluacion</th>
            <th>Calificación profesor</th>
        </tr>


        <tr>
            <td><b>Registros Ejemplo</b></td>
            <td>10 pts</td>
            <td> pts</td>
            <td> pts</td>
        </tr>

        <tr>
            <td>Diseño de la Arquitectura del Software, estándares log4net, mensaje toastr, control de errores.</td>
            <td>10 pts</td>
            <td> pts</td>
            <td> pts </td>
        </tr>

        <tr>
            <td><b>Seguridad</b></td>
            <td>5 pts</td>
            <td> pts </td>
            <td> pts</td>
        </tr>

        <tr>
            <td>
                <b>Mantenimientos:</b> <br>
                a-	Vendedor    5 pts <br>
                b-	Activos    10 pts <br>
                c-	Tipo Activo 5 pts <br>
                d-	Marca       5 pts <br>
                e-	Asegurador  5 pts <br>
            </td>
            <td>30 pts </td>
            <td>30 pts</td>
            <td> pts</td>
        </tr>


        <tr>
            <td>
                <b>Procesos:</b>
                <br>
                Calculo Depreciación
                (actualiza costo del activo y crea histórico de depreciación por activo)

            </td>
            <td>20 pts </td>
            <td> pts</td>
            <td> pts</td>
        </tr>

        <tr>
            <td>
                <b>Reportes:</b> <br>
                a-	Listado activos y
                crea pdf            (5 pts) <br>
                b-	Consulta de activo  (5 pts) <br>
                c-	Vencimiento 
                Garantías  (2 pts) <br>
                d-	Gráfico activos 
                por tipo (5 pts) <br>
                e-	Listado cierres (3 pts) <br>
                f-	Reporte Analítico, creación y consumo de API(5 pts)
            </td>
            <td>20 pts</td>
            <td> pts</td>
            <td> pts </td>
        </tr>

        <tr>
            <td>
                <b>Defensa del Proyecto</b>
            </td>
            <td>5 pts</td>
            <td> pts </td>
            <td> pts</td>
        </tr>



        <tr>
            <td>
                <h3>
                    <b>
                    Total
                    </b>
                </h3>
            </td>
            <td>100 pts</td>
            <td> pts</td>
            <td> pts</td>
        </tr>

    </table>

    <h4><b>Observaciones:</b></h4> 
    <span>___<u></u>________________________________________________________________________________<br>
          ___<u></u>________________________________________________________________________________<br>
          ___<u></u>________________________________________________________________________________</span>

    <style>
        #calificacion {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #calificacion td, #calificacion th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #calificacion tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #calificacion tr:hover {
                background-color: #ddd;
            }

            #calificacion th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>